@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.Del, .Edit {
    font-family: 'Raleway';
}

.Tags {
    width: 20%;
}

.TopicLst {
    background-color: white;
    font-family: 'Raleway';
    height: 20px;
    padding: 20px;
    border: solid black 2px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    color: black;
}

.CardLst {
    background-color: white;
    font-family: 'Raleway';
    height: 50px;
    padding: 20px;
    border: solid black 2px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
    justify-content: center;
    display: flex;
    color: black;
}

.TagCard:first-child {
    margin-top: 30px;
}

.NotesMain {
    background-color: #102139;
    color: white;
    text-align: center;
    height: 100vh;
}

.TopicBody {
    height: 90%;
    width: 100%;
}

.TopicHeader {
    width: 100%;
    background-color: black;
    height: 10%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
}

.TagCol {
    height: 100%;
    width: 33.33%;
    display: inline-block;
    font-size: 20px;
    font-family: 'Raleway';
    padding-top: 20px;
    font-weight: 700;
    text-align: center;
}

.CardCol {
    height: 100%;
    width: 66.66%;
    text-align: center;
    float: right;
    font-size: 20px;
    color: white;
    font-family: 'Raleway';
    padding-top: 20px;
    font-weight: 700;

}

.AddCard {
    border: none;
    background-color: black;
    color: white;
    font-family: 'Raleway';
    width: 100px;
    display: inherit;
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30%;
    border-radius: 15px;
}

.FormInput {
    position: fixed;
    bottom: 100px;
    right: 40px;

}

.FormInput2 {
    position: fixed;
    bottom: 0px;
    right: 40px;
}

.FormWrapper {
    position: relative;
}

.InputStyle {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Raleway';
}

.LeftPanel {
    display: inline-block;
    height: 100%;
    width: 33.33%;
}

.RightPanel {
    float: right;
    display: inline-block;
    height: 100%;
    width: 66.66%;
}

.CartTitle {
	width: 100%;
}

.CartTags {
	width: 100%;
}

.CartBody {
	width: 100%;
}

.wrapper {
	margin-left:auto;
    margin-right:auto;
    height:auto;
    width:auto;
}
