@import url('https://fonts.googleapis.com/css?family=Raleway');

.Main {
    height: 100vh;
    background-color: #1C3760;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container {
    height: 60%;
    width: 60%;
    display: block;
    background-color: white;
}

.MainTable {
    background-color: white;
    height: 85%;
    overflow: scroll;
}

.Header {
    height: 15%;
    background-color: black;
    display: block;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
}

.addBtn {
    height: 100%;
    width: 10%;
    float: left;
    background-color: #eee;
    border: none;
}

.MulBtn {
	margin-left: 10%;
	height: 100%;
}

.NewNotebook {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25%;
    width: 15%;
    font-family: 'Raleway';
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.PlusImg {
    height: 50px;
    width: 50px;
    opacity: 0.7;
}


.ChildBtn {
	margin-left: 10%;
	height: 85%;
	padding-top: 5%;
}
